

body{
  background-color: #201F24  ;
  background-size: 100%;
  font-family: 'Open Sans', sans-serif; 
  color: #FFFFFF; 
  
}

 
.msg{
	 transition : 0.5s transform;
	 background-color: rgba(225,225,225,0);
	 color: #FFFFFF;
	 padding: 6px;
	
	 border: 3px solid #FFFFFF;
	 border-radius: 10px ;
	 opacity: 0.9;
	
	 
 }
 .box_ODA{
	background-color: #000000;
	position: absolute;
    top: 0px;
    left: 0;
	width:100%;
	height: 50px;  
	 
 }
 .center{
	 margin-top: 5px;
	 text-align: center;
	 
 } 
 
 .bga{
	font-size: 25px; 
	font-weight: 600;
    opacity: 0.9;
	
 }
 .kja{
	  opacity: 0.8;
	  margin-left: 40px;
	  font-size: 25px;
 }
 
  .dfa{
	 opacity: 0.8;
	  margin-left: 40px;
	  font-size: 25px;
	 
 }
 .box_project{
	
	background-image: url(gg10.png);
    background-position: right top; /* Положение фона */
    background-repeat: no-repeat;
	
	position: absolute;
    top: 50px;
    left: 0;
	width:100%;
	height: 700; 
 }
 .project{
	
	text-align: left;
	position: absolute;	/* Абсолютное позиционирование */
	top: 130px;
	left: 50px;
	font-size: 100px;
	text-shadow: 1px 1px 5px black;
 }
 .knop_jojo{
	transition : 0.5s transform;
	 background-color: rgba(225,225,225,0);
	 color: #FFFFFF;
	 padding: 6px;
     
	 border: 3px solid #FFFFFF;
	 border-radius: 10px ;
	font-size: 30px;
 }
 
 .knop_jojo:hover{
	 background-color: #FFFFFF;
	 color: #201F24;
	
}

.box_anons{
	background-color: #000000;
	position: absolute;
    top: 750px;
    left: 0;
	width:100%;
	height: 300px;
	
}
.anons{
	text-align: center;
    font-size: 30px;
	
}

.box_end{
	background-color: #000000;
	position: absolute;
    top: 1050px;
    left: 0;
	width:100%;
	height: 50px;
}
 
 .rda{
	 position: absolute; /* Абсолютное позиционирование */
     bottom: 15px;
	 right: 15px;
 }
 


 .gsa{
    position: absolute; /* Абсолютное позиционирование */
    bottom: 15px;
	text-align: left;

 }
 
 .dga{
	border: 1.5px solid #FFFFFF;
	border-radius: 12px;
    padding: 6px;	
	
 }

 
 a{
	text-decoration: none;
	color: #FFFFFF;
 } 
 .box{
	border: 3px solid #FFFFFF;
	border-radius: 10px ; 
 }
 
 .msg:hover{
	 opacity: 1;
	 transform: scale (2.0);
 }
 
 .bga:hover{
	 opacity: 1;
	 
 }
 
 .dfa:hover{
	 opacity: 1;
	 font-size: 25px;
	
	
	
 }
 
  .kja:hover{
	 font-size: 25px;
	 opacity: 1;
	 
 }
 
.qwe{
	
    text-align: center;
	
	
	font-size: 120px;
	text-shadow: 3px 3px 7px #000000;
}

